.level-up-animation {
    animation: levelUp 800ms ease-out;
}


@keyframes levelUp {

    0% {
        transform: scale(1);
        filter: brightness(1);
    }


    30% {
        transform: scale(1.35);
        filter: brightness(1.8);
    }


    60% {
        transform: scale(0.95);
    }


    100% {
        transform: scale(1);
        filter: brightness(1);
    }

}