DB_HOST=url
DB_PORT=5432

DB_USER=username
DB_PASS=verysecurepassword
DB_NAME=chocosous_db
DB_SCHEMA=skeller

SESSION_SECRET=averysecretsecretwhoislongandhard
MASTER_PASSWORD=apasswordthatissupersecure

NODE_ENV=development|production

PORT=8000